


.footer {
  width: 100%;
  background-color: rgb(37, 99, 235);
  border-bottom: 1px solid rgb(37, 99, 235);
  z-index: 100;
}


.footerContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
}

.footerContent a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

.footerContent a:hover {
    text-decoration: underline;
}

.footerContent ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;         
}


